body {
    font-family: Arial, sans-serif;
    background: linear-gradient(0deg, #ff5ff7, #c567b1, #768fbe, #67c4bd);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #a33fac;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #274f99;
}

.table-container {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
